.header-row-album{
    display: grid;
    --grid-gap: 10px;
    --grid-height: 48px;
    display: grid;
    grid-template-columns: 40px 3fr 1fr; /* Keep the grid layout */

    gap: var(--grid-gap);
    max-height: var(--grid-height);
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.track-list-album{
    --grid-gap: 10px;
    --min-column-width: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    gap: var(--grid-gap);
    // display: none;
    margin-left: 18px;
}

.duration-headerImage-album{
    
    fill: rgb(211, 209, 209);
    width: 15px;
    height: 15px;
    // display: none;
}

.header-duration-album{
    // display: none;
    display:flex;
    justify-content: flex-end;
}

.header-index-album{
    font-size: 1rem;
    color: #b3b3b3;
    text-align: center;
    flex: 1;
    text-decoration: none;
    padding-left: 28px;
}

.header-title-album{
    font-size: 1rem;
    color: #b3b3b3;
    text-align: left;
    flex: 1;
    text-decoration: none;
}

.iconWrapper-album{
    margin-right: 30px;
}