.home-container{
    grid-area: main-view;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
    padding: 10px;
}

.testApi{

    width: 50%;
}

.input-filed-container{
    display: flex;
    gap: 1em;
}

.authorize{
    width: 30%;
}