.header-row-playlist{
    display: grid;
    padding: 0 16px;
    grid-gap: 16px;
    grid-template-columns: [index] var(--tracklist-index-column-width, 16px) minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr);
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    color: var(--text-subdued, #b3b3b3);
    height: 36px;
}

.track-list-playlist{
    --grid-gap: 10px;
    --min-column-width: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    gap: var(--grid-gap);
    // display: none;
}


.duration-headerImage-playlist{
    fill: rgb(211, 209, 209);
    width: 15px;
    height: 15px;

}

.header-duration-playlist{
    display:flex;
    justify-content: center;   
}

.header-index{
    justify-self: end;
}