.tracks-header-container-playlist {
    position: relative;
    
}
.sticky-general-header {
    position: sticky;
        top: -21px;
    z-index: 100; /* Ensure it stays above other elements */
    background-color: #121212; /* Match the background color for seamless effect */
    // padding: 10px 16px; /* Add some padding */
    // border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Optional: Add a bottom border for separation */
    // padding-bottom: 10px;
    padding-top: 5px;
    height: 137px;

}

.header-row-playlist{
    margin: 0; /* Remove any margin that could cause gaps */

    display: grid;
    padding: 0 16px;
    grid-gap: 16px;
    grid-template-columns: [index] var(--tracklist-index-column-width, 99px) minmax(120px, 4.3fr) minmax(121px, 3.3fr) minmax(120px,2.6fr) minmax(120px, 1.6fr);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--text-subdued, #b3b3b3);
    height: 36px;
    background-color: #121212; /* Consistent with container */
    align-items: center;
    :first-child {
        padding-left: 10px; /* Moves the first element to the right */
      }
    
}
.header-title {
    justify-self: left; /* Align the Title to the left */
    text-align: center; /* Ensure text aligns to the center */
    //margin-left: 40px;
}

.track-list-playlist{
    
    --grid-gap: 10px;
    --min-column-width: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    gap: var(--grid-gap);
    // display: none;
    margin-top: 20px; /* Adjust the value to your preference */
 
}


.duration-headerImage-playlist{
    fill: rgb(211, 209, 209);
    width: 15px;
    height: 15px;

}

.header-duration-playlist{
    display:flex;
    justify-content: center; 
    margin-left: -10px;  
}

.header-index{
    justify-self: start;
}