.made-for-you-section{
    --shelf-min-height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-flex: 1;
    contain-intrinsic-size: auto var(--shelf-min-height, 260px);
    container-type: inline-size;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: var(--shelf-min-height, 260px);
    gap: 10px;
    width: 100%; /* Ensures it spans the full width of the viewport */
    
}

.category-list{
    
    --min-column-width: 160px;
    --row-count: 1;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    --grid-gap: 5px; /* Increase gap for better spacing */
    width: 100%; /* Ensures the grid spans the container */
    justify-content: space-between; /* Distributes items evenly */
    align-items: center; /* Vertically align items for better appearance */
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow-y: hidden;
    display: grid;
    gap: 2px;
    margin-inline: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));


}