.mobile-filter-container{
    grid-area: mobile-filter;
    display: grid;
    width: 100%;
    grid-template-columns: 0.33fr auto;
    height: 48px;
}

.mobile-filters-background{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
    align-content: center;
}

.mobile-user-profile-btn{
    border-radius: 50%;
	width: 48px;
	height: 48px;
	background-color: #1f1f1f;
	border: double;
    .content-filters button{
        align-content: center;
    }
}

.icon {
    transition: fill 0.3s ease;
    background-color: #333;
    align-content: center;
    transition: all 0.3s ease;
    border-radius: 50%;

    &:hover {
        background-color: #282828; // Slightly brighter on hover
    }

    &.active {
        background-color: #1db954;
        color: black;
    }

    &.active:hover {
        background-color: #1ed760; /* green background on hover */
    }
}

@media (min-width: 460px) {
    .mobile-filter-background{
        display: none;
    }

    .mobile-filter-container{
        display: none;
    }

    .mobile-user-profile-btn{
        height: auto
    }
} 