.playlist-container {
    color: #b3b3b3;
    height: 100%;
    overflow: hidden;
  
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      height: 55vh;
      max-height: 100%;
      overflow: auto;
  
      &::-webkit-scrollbar {
        width: 0.7rem;
  
        &-thumb {
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
  
      li {
        display: flex;
        align-items: center;
        padding: 0.75rem;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #2a2a2a;
          color: white;
        }
  
        .playlist-img-container {
          position: relative;
          width: 48px;
          height: 48px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
          }
  
          .play-button-container {
            position: absolute;
            top: 0;
            right: 0; /* Align the play button to the right of the image */
            width: 40%; /* Adjust the width of the overlay if needed */
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
            border-radius: 4px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
  
            .play-button {
              background: transparent;
              border: none;
              cursor: pointer;
  
              .play-icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
  
                img {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
  
          &:hover .play-button-container {
            opacity: 1; /* Show the play button on hover */
          }
        }
  
        .playlist-info {
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          h3 {
            font-size: 1rem;
            margin: 0;
            color: white;
          }
  
          p {
            font-size: 0.85rem;
            color: #b3b3b3;
            margin: 0.3rem 0 0;
          }
        }
      }
    }
  }
  