.player-container {
  display: flex;
  min-width: 620px;
  flex-direction: column;
  height: auto;
   background-color: black;
   grid-area: footer;
}

.player-sub-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}

//the picture and text:
.mini-details-player-container{
  // display: flex;
  // align-items: center;
  // gap: 1em;
  // margin-inline: 10px;
  min-width: 180px;
  padding-inline-start: 8px;
  width: 30%;
}

.mini-details-sub-player-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transform: translateX(0);
}


.media-player-musicCover-container{
  position: relative;
  flex-shrink: 0;
  margin-inline-end: 8px;
  isolation: isolate;

}

.media-player-musicCover {
  border-radius: 10%;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  //position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
}

.mini-details-player{
  margin: 0 8px;
  column-gap: 8px;
    display: grid;
    grid-template:
        "pretitle pretitle"
        "title title"
        "badges subtitle" / auto 1fr;
      width: 148px;
      height: 37px;
}

.artist{
  color: #fff;
  grid-area: title;
  justify-self: start;
  width: 100%;
}

.song-title {
  display: inline-flex;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: baseline;
  align-items: baseline;
  grid-area: subtitle / badges / subtitle / subtitle;
  overflow: hidden;
  color: #b3b3b3;
  font-size: 0.75rem;
  max-height: 20px;
}


//ADD Button

//Player
.mini-player-container{
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  max-width: 722px;
  width: 40%;
  fill: white


}

.time-duration-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: #b3b3b3;
  width: 100%;

}

.current-time {
  top: 2px; /* Adjust this value to center align with the timeline */

  min-width: 40px;
  text-align: right;
  position: relative;
  font-size: 0.85rem; /* Adjust size to make it smaller */
  line-height: 1.2; /* Ensure good readability */
}

:root {
  --thumb-size: 15px;
  --track-height: 4px;
}

.timeline-wrapper {
  width: 100%;
  height: 15px;
  padding-bottom: 5px;
}

.range {
  position: relative;
  width: 100%;
}

input[type="range"] {
  background-color: #7c7c7c;
  -webkit-appearance: none;
  width: 100%;
  height: var(--track-height);
  outline: none;
  //opacity: 0.7;
  //transition: opacity 0.2s, background-color 0.2s;
  border-radius: calc(var(--track-height) / 2);
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: #ffffff;
  opacity: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  //border: 2px solid #ccc;
  transition: background-color 0.2s, border-color 0.2s;
  margin-top: calc((var(--track-height) - var(--thumb-size)) / 2);
  position: relative;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);

}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: transparent;
  opacity: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s, border-color 0.2s;
  position: relative;
  z-index: 2;
}

/* Progress bar styles */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  background: linear-gradient(to right, white var(--progress), transparent var(--progress));
  border-radius: calc(var(--track-height) / 2);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: var(--track-height);
  background: #e0e0e0;
  border-radius: calc(var(--track-height) / 2);
}

input[type="range"]::-moz-range-progress {
  height: var(--track-height);
  background-color: white;
  border-radius: calc(var(--track-height) / 2);
}

/* Hover effect on progress bar and thumb */
input[type="range"]:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #4CAF50 var(--progress), #e0e0e0 var(--progress));
}


// input[type="range"]:hover::-moz-range-progress {
//   background-color: #4CAF50;
// }

input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
  color: white;
  //background: white;
}

input[type="range"]:hover::-moz-range-thumb {
  opacity: 1;
  color: white;
  //background: white;
  
}

.time-duration{
  min-width: 40px;
  text-align: left;
  position: relative;
  top: 2px;
  font-size: 0.85rem; /* Match size with .current-time */
  line-height: 1.2; /* Consistent readability */
}

.smallImage{
  width: 25px;
  height: 25px;
  border: solid 1px white;
}

.now-playing-view, .lyrics, .queue, .mute, .connectToDevice, .miniPlayer, .addToLiked, .fullScreen{
  fill: rgb(211, 209, 209);
  border-color: #000;
 // fill: #1db954; //changes according to click
//   width: 16px;
//   height: 16px;
}

.now-playing-view:hover, .lyrics:hover, .queue:hover, .mute:hover, .connectToDevice:hover, .miniPlayer:hover, .addToLiked:hover, .fullScreen:hover{
  fill: white;
  border-color: #000;
 // fill: #1db954; //changes according to click
//   width: 16px;
//   height: 16px;
}

.now-playing-view-selected, .lyrics-selected, .queue-selected, .connectToDevice-selected, .miniPlayer-selected, .addToLiked-selected, .fullScreen-selected{
  fill: rgb(42, 255, 124);
  border-color: #000;
 // fill: #1db954; //changes according to click
//   width: 16px;
//   height: 16px;
}

.player-settings-container button{
  background-color: transparent;
  border: none;
  color: hsla(0, 0%, 100%, .7);
  height: 32px;
  position: relative;
  width: 32px;
  cursor: pointer;

}

.add-to-liked-btn{
  background-color: transparent;
  border: none;
  color: hsla(0, 0%, 100%, .7);
  height: 32px;
  position: relative;
  width: 32px;
  cursor: pointer;
  fill: gray;
  &:hover {
    fill: white;
  }
}

.player-settings-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 180px;
  width: 30%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.player-settings-sub-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.volume-control{
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 125px;
  flex: 0 1 125px;
}

/* @media (max-width: 900px) {
  .component {
    width: 50%;
  }
} */

.media-player-icon-wrapper{
  display: flex;
  width: 16px;
  height: 16px;
  align-content: center;
  flex-wrap: wrap;
}

