.app-container{
    display: grid;
    height: inherit;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "left-sidebar main-view right-sidebar"
        "footer footer footer";
}