.track-preview-container{
    --grid-gap: 10px;
    --grid-height: 20px;
    display: grid;
    grid-template-columns: 20px minmax(150px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr) 40px;
    gap: var(--grid-gap);
    max-height: var(--grid-height);
    white-space:nowrap
}

.track-number, .track-name, .track-album, .track-date-added, .track-duration{
    text-overflow: ellipsis;
    overflow: hidden;
}