
.track-preview-grid-container-playlist{
    display: grid;
    padding: 0 16px;
    grid-gap: 16px;
    grid-template-columns:  [index] var(--tracklist-index-column-width, 16px) minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr);
    color: var(--text-subdued, #b3b3b3);
    height: 56px;
    --grid-height: 48px;
    max-height: var(--grid-height);
    white-space:nowrap;
    border-radius: 8px; /* Smooth corners for each song */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effects */


    &:hover {
        background-color: #333; /* Highlight the song on hover */
        border-radius: 15px; /* More rounded corners on hover */
        // transform: scale(1.02); /* Slightly enlarge on hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow effect */

        .track-preview-action-icon, .track-preview-action-icon-more {
            opacity: 1; /* Show actions on hover */
            pointer-events: auto; /* Enable interaction */
        }

       
    }
}

.track-preview-grid-container-album{
    display: grid;
    // display:  none;
    --grid-gap: 10px;
    --grid-height: 48px;
    display: grid;
    grid-template-columns: 20px 450px minmax(40px, 1fr);
    gap: var(--grid-gap);
    max-height: var(--grid-height);
    white-space:nowrap;
    padding: 10px; /* Add padding around each song for spacing */
    margin-bottom: 10px; /* Create a gap between songs */
    border-radius: 8px; /* Smooth corners for each song */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effects */


    &:hover {
        background-color: #333; /* Highlight the song on hover */
        border-radius: 15px; /* More rounded corners on hover */
        transform: scale(1.02); /* Slightly enlarge on hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow effect */

       
        .track-preview-action-icon, .track-preview-action-icon-more {
            opacity: 1; /* Show actions on hover */
            pointer-events: auto; /* Enable interaction */
        }
    }
}

.track-name{
    font-size: 1rem;
    color: white;
    text-align: center;
    flex: 1;
    text-decoration: none; /* Ensure links within these elements also have no underline */
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);;
}

.track-number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.track-number-container{
    color: var(--text-subdued, #b3b3b3);
    display: inline-block;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    position: relative;
    width: var(--tracklist-index-column-width, 16px);
    // --fallback-fonts: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
    // font-family: 'Bank Gothic', 'DIN Next', 'Eurostile';

    font-size: 0.875rem;
}

.track-number, .track-album, .track-date-added, .track-artist{
    font-size: 1rem;
    color: #b3b3b3;
    text-align: center;
    flex: 1;
    text-decoration: none; /* Ensure links within these elements also have no underline */
}

.name-artist-container,  .track-album, .track-date-added, .track-duration {
    font-size: 1rem;
    color: #b3b3b3;
    text-align: left;
    flex: 1;
    text-decoration: none; /* Ensure links within these elements also have no underline */
    align-self: center;
    color: var(--text-subdued, #b3b3b3);
    display: inline-block;
    // --fallback-fonts: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
    // font-family: 'Bank Gothic', 'DIN Next', 'Eurostile';

    font-size: 0.875rem;

    white-space: nowrap;
    overflow-x: hidden !important;
    text-overflow: ellipsis;
}

.track-duration {
    text-align: center;
    flex: 1;
}

.album-cover-image{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.track-title{
    display: flex;
    gap: 1em;
    
}

.track-actions-playlist {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
    // display: none;
    // transition: opacity 0.3s ease; /* Smooth transition for visibility */


    .track-preview-action-icon, .track-preview-action-icon-more {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border: 0px;
        border-radius: var(--encore-button-corner-radius, 9999px);
        cursor: pointer;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        touch-action: manipulation;
        transition-duration: 33ms;
        transition-property: background-color, border-color, color, box-shadow, filter, transform;
        user-select: none;
        vertical-align: middle;
        transform: translate3d(0px, 0px, 0px);
        color: var(--text-subdued, #656565);
        min-inline-size: 0px;
        min-block-size: var(--encore-control-size-smaller, 32px);
        padding-block: var(--encore-spacing-tighter-2, 8px);
        padding-inline: 0px;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        display: flex;
        svg {
            width: 20px;
            height: 20px;
            transition: fill 0.3s ease;
            /* Ensure proper color */
        }
        .add-to-liked {
            fill:  #b3b3b3;
            &:hover {
                fill: white; /* White on hover over AddToLiked */
            }
        }
        .more-option-for {
            fill:  white;
            &:hover {
                fill: white; /* White on hover over MoreOptionFor */
            }
        }
    }
    
    .track-preview-action-icon-more, .track-preview-action-icon{
        opacity: 0; /* Hidden by default */
    }
}

.track-actions-album {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    margin-left: auto; /* Pushes the element to the right */
    gap: 10px;
    // transition: opacity 0.3s ease; /* Smooth transition fghtor visibility */

    .track-preview-action-icon, .track-preview-action-icon-more{
        opacity: 0; /* Hidden by default */
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border: 0px;
        border-radius: var(--encore-button-corner-radius, 9999px);
        cursor: pointer;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        touch-action: manipulation;
        transition-duration: 33ms;
        transition-property: background-color, border-color, color, box-shadow, filter, transform;
        user-select: none;
        vertical-align: middle;
        transform: translate3d(0px, 0px, 0px);
        color: var(--text-subdued, #656565);
        min-inline-size: 0px;
        min-block-size: var(--encore-control-size-smaller, 32px);
        padding-block: var(--encore-spacing-tighter-2, 8px);
        padding-inline: 0px;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        //opacity: 0; /* Hidden by default */
        //  margin-right: 60x;
        align-items: center;
        display: flex;
        svg {
            width: 16px;
        height: 16px;
        transition: fill 0.3s ease;
            /* Ensure proper color */
        }
        .add-to-liked {
            fill:  #b3b3b3;
            &:hover {
                fill: white; /* White on hover over AddToLiked */
            }
        }
        .more-option-for {
            fill:  white;
            &:hover {
                fill: white; /* White on hover over MoreOptionFor */
            }
        }
    }
}

.track-image{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}